/* Navbar */
.container-fluid {
  padding: 3% 11% 3%;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar {
  padding: 0 0 4.5rem;
}
.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}
.nav-item {
  margin-right: 20%;
}
/* Title Section */
.milk {
  width: 100%;
}
.gon {
  width: 100%;
  margin-left: 10%;
}
#title {
  background-color: #005086;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.5;
  padding-bottom: 10%;
}
.h1-title {
  padding-left: 12%;
}
.shopee-button {
  margin-right: 2%;
}
/* Beneftis Section */
#benefits {
  background-color: #fff;
  text-align: center;
  color: #000;
  text-align: center;
}
.benefits-text {
  position: absolute;
  padding-top: 18%;
  color: #ffe227;
}
h2 {
  font-family: "Montserrat";
  font-size: 2.5rem;
  line-height: 1.5;
padding-left: 7%;
padding-right: 7%;
}

/* Media */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 4Srem;
    font-weight: bold;
  }
  .nav-link {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
    padding-bottom: 10px;
  }
  .h1-title {
    padding-left: 0;
  }
  .gon {
    width: 100%;
    margin-left: 0;
    padding-top: 40%;
  }
  .milk {
    width: 100%;
    margin-left: 0;
    padding-top: 10%;
  }
  .nav-item {
    margin-right: 0;
  }

  .benefits-text {
    position: absolute;
    padding-top: 8%;
    padding-bottom: 8%;
    color: #ffe227;
    font-size: 3rem;
    text-shadow: 1px 1px #000;
  }
  h2 {
    font-family: "Montserrat";
    line-height: 1.5;
    padding-left: 10%;
    padding-right: 10%;
  }


}
/* Pricing */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}
.pricing-title {
  font-family: "Montserrat";
  color: #000;
}
/* Shop */
#shop {
  background-color: #005086;
  text-align: center;
  padding: 10% 15%;
}
.shop-title {
  color: #fff;
}
/* Footer */
#footer {
  text-align: center;
  padding: 7% 15%;
}
.social-icon {
  margin: 20px 10px;
  color: #005086;
}
